<!DOCTYPE html>
<html>
<head>
  <title>Portail de connexion</title>
</head>
<body style="font: 13px Arial, sans-serif; background: rgb(240,240,240);">
<center>
<h1>Portail de connexion</h1>


		<p >Saisir votre login et votre mot de passe pour vous connecter</p>
<div style="width: 600px; padding: 20px; text-align: left; background: rgb(255,255,255); box-shadow: 0 0 3px rgba(0,0,0,0.3);">
<% if !@error_con.nil? %>

<%= @error_con %>

<% end %>


<form action="/sessions" method="post">
  <div class="field">
    <label for="session_login">Login</label><br />

    <input id="login" name="login" size="30" type="text"  value="<%= if !@login.nil?; @login end %>" />
  </div>
  <div class="field">
    <label for="passwd">Mot de passe</label><br />
    <input id="passwd" name="passwd" size="30" type="password" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Se Connecter" />
  </div>
</form>

<p></p>
<p>Pas encore inscrit? </p>
          <a href="/users/new"> Inscription </a>
</div>
</center>
</body>
</html>

