<ul>
<% @post.comments.all.each do |comment| %>
    
    <p>Author : <%= comment.author %></p>
    <p>Comment : <%= comment.body %></p>
    <p><%= link_to 'Destroy',comment_path(@post.id,comment.id), method: :delete %> </p>
  </li>
<% end %>
</ul>
