<!DOCTYPE html>
<html>
<head>
  <title>Portail d'inscription d'application</title>
</head>
<body style="font: 13px Arial, sans-serif; background: rgb(240,240,240);">
<center>

<h1>Portail d'inscription d'application</h1>



		<p >Saisir un nom et une url (http(s)://...) pour iscrire l'app</p>
<div style="width: 600px; padding: 20px; text-align: left; background: rgb(255,255,255); box-shadow: 0 0 3px rgba(0,0,0,0.3);">
<% if @error  %>

	<p >Les informations saisies sont incorrects</p>

<ul>
<% @error.each do |champ, mess| %>
<li><%= champ %> : <%= mess.join(', ') %></li>
<% end %>
</ul>

<% end %>

<form action="/applications" method="post">
  <div class="field">
    <label for="name">Name</label><br />

    <input id="name" name="application[name]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="passwd">Url</label><br />
    <input id="url" name="application[url]" size="30" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Enregistrer" />

  </div>
</form>
<p></p>
<a href="/"> Retourner à l'acceuil </a>
</div>
</center>
</body>
</html>

