<div class="session">
<% if is_connected? %>
<p>Connected</p>
<p>Bonjour <%= current_user %></p>
<p><%= link_to 'Disconnect', session_path, :confirm=>"Are you sure to Disconnect?", method: :delete %></p>
<% else %>
<p>Not connected</p>
<p><%= link_to 'Connection', new_session_path %></p>
<% end %>
</div>
