<div class="session">
<% if session["current_user_blog"] %>
<p>Connected</p>
<p>Bonjour <%= session["current_user_blog"] %></p>
<% else %>
<p>Not connected</p>
<p><%= link_to 'Connection', new_session_path %></p>
<% end %>
</div>
